<%- include("partials/header"); -%>
<form action="/Reply" method="post">
  <h1><%=title%></h1>
  <p><%=content%></p>

<div style="float: right;">
  <button class="btn btn-primary" type="submit"  value="<%= title %>"name="replys" >reply</button>&ensp;
  <button class="btn btn-primary" type="submit" name="deletes" >delete</button>
</div>
</form>


<% console.log(replycontent);%>
<%replycontent.forEach(function(post){%>
    
  <h1><%= post.title %></h1>
  <% console.log(post.repliedtitle+"postejstitle");%>
    <% console.log(post.replied+"postejsreply");%>
   	<p><%= post.replied %></p>
    	<form action="/modify" method="post">
  <div style="float: right;">
  	<button class="btn btn-primary" type="reply"  value="<%= post.title %>" name="reply" >reply</button>&ensp;
   		<button class="btn btn-primary" type="delete" value="<%= post.title %>" name="delete" >delete</button>
     	  </div>
          </form>

  

             
          <% }); %>

  


  <%- include("partials/fotter"); -%>
